#header{
	height: 0.8rem;
	background: #313131;
	
}
#header ul {
	display: -webkit-box;
}
#header ul li{	
	height: 0.8rem;
	color: #fff;
	line-height: 0.8rem;
}
#header ul li:nth-child(1) {
	width: 0.8rem;
	text-align: center;
}
#header ul li:nth-child(2) {
	-webkit-box-flex: 1;
	text-align: center;
	font-size: 0.3rem;
}
#header ul li:nth-child(3) {
	width: 0.8rem;
	text-align: center;
	font-size: 0.5rem;
}
#header ul li:nth-child(4) {
	width: 0.8rem;
	text-align: center;
	font-size: 0.5rem;
}
#container{
    -webkit-box-flex: 1;
    display: -webkit-box;
    /* overflow-y: auto; */
    -webkit-box-orient: vertical;
    background:#f3f3f3;
}
#container .works{
	background: #fff;
	padding: 0.2rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;	
}
.works .title{
	font-size: 0.24rem;
}
.works .title img{
	width: 20%;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
	box-sizing: border-box;
}
.title .title_con{
	display: inline-block;
	vertical-align: middle;
}
.works .title_con span{
	display: block;
}
.title .attention{
	margin-left: 2.2rem;
	padding:0.02rem 0.06rem;
	border: solid 1px #f44933;
	text-align: center;
	color: #f44933;
	box-sizing: border-box;
}
.works .video img{
	width: 100%;
	height: 3rem;
	display: block;
	margin: 0.2rem 0;
}
.works .video p{
	font-size: 0.24rem;
}
.works .video p {
	color: #f44933;
	font-size: 0.3rem;
}
.works .video p span{
	color: #313131;
}
.video .bot{
	font-size:0.24rem;
	margin-top: 0.2rem;
}
.video .bot span:nth-of-type(1){
	padding: 0.08rem 0.16rem;
	color: #fff;
	background: #f44933;
	border-radius: 0.12rem;	
}
.video .bot span:nth-of-type(2){
	color: #f44933;
	margin-left: 2.6rem;
}

.icon-dian {
	position: absolute;
	top: 0.18rem;
	right: 0.2rem;	
	font-size: 0.42rem;
	color: #666;
}
.expertCom {
	font-size: 0.24rem;
	background: #fff;
	padding: 0.2rem;
	margin-bottom: 0.2rem;
}
.expertCom h3{
	padding-bottom: 0.16rem;
	/* border-bottom: solid 1px #ccc; */
}
.expertCom h3 span{
	font-weight: normal;
	padding: 0 0.1rem;
	/* border-left: solid 0.1rem #f44933; */
}
.expertCom  .title{
	font-size: 0.24rem;
	padding-top: 0.2rem;
	margin-bottom: 0.1rem;
	border-top:solid 1px #ccc;
}
.expertCom  .title img{
	width: 12%;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
	box-sizing: border-box;
}
.expertCom  .title_con span{
	display: block;
}
.title .time{
	margin-left: 1.94rem;
	text-align: center;
	box-sizing: border-box;
}
.expertCom p{
	margin-bottom: 0.1rem;
}
.expertCom .score span{	
	border: solid 1px #F44933;
	color: #f44933;
	padding: 0.05rem;
	border-radius: 0.1rem;
	margin-left: 2.6rem;
	font-size: 0.22rem;
}
.expertCom p span{	
	border: solid 1px #F44933;
	color: #f44933;
	padding: 0.05rem;
	border-radius: 0.1rem;
	margin-left: 1rem;
	font-size: 0.22rem;
}
.expertCom .score img{
	width: 6%;
	vertical-align: middle;
	margin: 0 0.01rem;
}
.noteList{
	position: relative;
	font-size: 0.24rem;
	background: #fff;
	padding: 0.1rem 0.2rem;
	margin-bottom: 0.2rem;
	height:0.8rem;
}
.noteList>span{
	float:left;
	vertical-align: middle;
	border-right: solid 1px #ccc;
	padding: 0.15rem 0.1rem;
	margin-right: 0.1rem;
	margin-top: 0.1rem;
	box-sizing: border-box;
	height:0.6rem;
}
/* .noteList img{
	width: 0.6rem;
	border-radius: 50%;	
	vertical-align: middle;
} */
.noteList ul{
	float:left;
	width:3rem;
	height:0.8rem;
}
.noteList ul li{
	position: relative;
	padding: 0.1rem 0;
	padding-left: 0.1rem;
	font-size: 0.24rem;
	display:inline-block;
	width:30%;
}
.noteList ul li .pic{
	width: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 0.1rem;
}
.noteList ul li .vip{
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
	width: 50%;
}